@import '_bootstrap';
@import 'pista/_alerts';

// Panel like bootstrap well
.panel.well{
  background-color: $gray-light;
  border-radius: $border-radius-large;
  @include box-shadow(0 3px 6px #000);
}

// Helper for vertical center blocks
.vertical-center-container{
  display: table;
  height: 100%;
}
.vertical-center{
  display: table-cell;
  vertical-align: middle;
}

// Single line search form
.search-form{
  position: relative;
  .form-group{
    margin-bottom: 0;
  }
  .form-control{
    font-weight: bold;
    font-size: 18px;
  }
  .btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 25px;
  }
}

// Destination thumbnail
.thumbnail.destination h3{
  margin: 6px 0;
}

// Product thumbnail
.thumbnail.product{
  h2, h3, h5{
    margin: 0;
  }
  .title{
    height: 44px;
  }
}

// Nav with times icon
.nav-switch li a{
  .fa-times{
    display: none;
    float: right;
    line-height: 28px;
  }
  &:hover .fa-times{
    display: block;
  }
}

// Caption before pagination
.pagination-caption{
  line-height: 36px;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}

// Product view details
.product-view{
  h3{
    border-bottom: 1px solid $gray-light;
    padding-bottom: 2px;
    margin: 50px 0 30px;
  }
  p, li{
    line-height: 30px;
  }
  .pax-row + .pax-row{
    margin-top: 15px;
  }
  .icon-col{
    border-top: 1px solid $gray-light;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

// Simple prepare elements to fade
object, .to-fade{
  display: none;
}

// Theme secondary (move to specific area)
$brand-secondary: #8e44ad;

.text-secondary{
  color: $brand-secondary;
}
.hover-bg-secondary:hover, .hover-bg-secondary:focus{
  background-color: $brand-secondary !important;
}
.before-line-secondary:before{
  content: '';
  display: block;
  height: 5px;
  background-color: $brand-secondary;
}
