@import '_pista';

#main{
  padding-bottom: 72px;
  &.home{
    .jumbotron{
      height: 400px;
      background-image: url('/images/mosaico.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      h1{
        margin: 24px 0 50px;
      }
    }
    .fix-bottom{
      margin-bottom: -24px;
    }
  }
  &.activities .search-form{
    margin-top: 24px;
  }
  &.checkout{
    h2{
      margin-bottom: 20px;
    }
    h4{
      margin: 4px 0;
    }
    .panel-body, .panel-footer{
      padding: 20px;
    }
    .panel-footer h3, .panel-body h2{
      margin: 0;
    }
    .media-body .text-muted{
      margin-bottom: 24px;
    }
    .add-phone{
      padding: 0;
    }
    .fix-bottom{
      padding-bottom: 0;
    }
    hr, .space-bottom{
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
}

h2 i, h5 i, .btn-link i{
  margin-right: 12px;
}

.search-form .form-group{
  padding-right: 77px;
}

@media(min-width: $screen-md-min){
  #main.checkout{
    .add-phone{
      margin-top: 34px;
    }
    .alert-info{
      margin: 34px 0 0;
    }
  }
}
