<article class="col-md-3 col-sm-6">
  <a href="/activities?q=<%= destination %>" class="destination thumbnail">
    <img src="http://placehold.it/261x174" alt="<%= destination %>">
    <div class="caption">
      <h3 class="text-secondary"><%= destination %></h3>
    </div>
  </a>
</article>
