<article class="col-md-<%= col_size %> col-sm-6">
  <a href="/activities/<%= id %>" class="product thumbnail">
    <img src="http://placehold.it/261x174" alt="<%= product %>">
    <div class="caption">
      <h3 class="title text-secondary"><%= product %></h3>
      <h5 class="text-muted">Rio de Janeiro - RJ</h5>
      <div class="text-right">
        <h5 class="text-muted">A partir de</h5>
        <h2 class="text-secondary">
          <span class="h5">R$</span>
          <strong>107,00</strong>
        </h2>
      </div>
    </div>
  </a>
</article>
