<form class="search-form">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Escolha seu destino">
  </div>
  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
</form>
