<div class="container">
  <section class="row">
    <div class="col-md-6">
      <h2>
        <strong>'<%= query || 'Rio de Janeiro' %>'</strong>
        <span class="hidden-xs h5 text-muted">170 resultados encontrados</span>
      </h2>
    </div>
    <div class="col-md-6 text-right">
      <%= erb :_search_form %>
    </div>
  </section>
  <hr class="visible-xs-block">
  <div class="row">
    <aside class="col-md-3">
      <div class="sticky before-line-secondary">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-secondary">Categorias</h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked nav-switch">
              <li>
                <a href="#" class="hover-bg-secondary">
                  Aventura<i class="fa fa-times"></i>
                </a>
              </li>
              <li>
                <a href="#" class="hover-bg-secondary">
                  Sightseeing<i class="fa fa-times"></i>
                </a>
              </li>
              <li>
                <a href="#" class="hover-bg-secondary">
                  Ao ar livre<i class="fa fa-times"></i>
                </a>
              </li>
              <li>
                <a href="#" class="hover-bg-secondary">
                  Urbano<i class="fa fa-times"></i>
                </a>
              </li>
              <li>
                <a href="#" class="hover-bg-secondary">
                  Pra relaxar<i class="fa fa-times"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <section class="col-md-9">
      <div class="row">
        <% 3.times do %>
        <% products.each_with_index do |product, id| %>
        <%= erb :_product, locals: { col_size: 4, product: product, id: id } %>
        <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= erb :_back_to_top %>
        </div>
        <div class="col-md-8 text-right">
          <span class="pagination-caption">Página <strong>1</strong> de <strong>5</strong></span>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Primeira">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Anterior">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
              </a>
            </li>
            <% 5.times do |n| %>
            <li><a href="#"><%= n + 1 %></a></li>
            <% end %>
            <li>
              <a href="#" aria-label="Próxima">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Última">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
