<div class="container">
  <h4 style="padding:12px 0;">
    <a href="/activities">
      <i class="fa fa-chevron-left"></i> Voltar para a pesquisa
    </a>
  </h4>
  <div class="row product-view">
    <article class="col-md-8">
      <img src="http://placehold.it/750x450" class="img-responsive"/>
      <div class="row">
        <div class="col-md-9">
          <h2>
            <strong><%= product %></strong><br>
            <span class="h5 text-muted">Rio de Janeiro - RJ, Brasil</span>
          </h2>
        </div>
        <div class="col-md-3 text-right">
          <h2 class="text-secondary">
            <span class="h5 text-muted">A partir de</span>
            <br><span class="h5">R$</span> <strong>68,00</strong>
          </h2>
        </div>
      </div>
      <h3 class="text-primary" style="border:none;margin:0;">Informações gerais</h3>
      <div class="clearfix">
        <div class="col-md-4 icon-col">
          <div class="text-center">
            <i class="fa fa-hourglass-half fa-2x text-primary"></i>
            <h4 class="text-primary">Duração</h4>
            <p>2 horas</p>
          </div>
        </div>
        <div class="col-md-4 icon-col">
          <div class="text-center">
            <i class="fa fa-user fa-2x text-primary"></i>
            <h4 class="text-primary">Capacidade</h4>
            <p>Mín 2 participantes<br>Máx 10 participantes</p>
          </div>
        </div>
        <div class="col-md-4 icon-col">
          <div class="text-center">
            <i class="fa fa-calendar-times-o fa-2x text-primary"></i>
            <h4 class="text-primary">Cancelamento</h4>
            <p>48 horas antes do dia da atividade</p>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-md-4 icon-col">
          <div class="text-center">
            <i class="fa fa-bolt fa-2x text-primary"></i>
            <h4 class="text-primary">Confirmação imediata</h4>
            <p>Receba a confirmação de reserva por e-mail em instantes</p>
          </div>
        </div>
      </div>
      <h3 class="text-primary">Descrição</h3>
      <p>
        Aproveite um dia de compras nas ruas mais importantes de Ciudad del Este,
        Paraguai um destino de compras favorito para aqueles que estão permanecendo
        por perto. Você tem preços mais baratos e uma vasta seleção de bens para
        escolher - roupas, eletrônicos, cosméticos e perfumes e muitos outros.
        Permita-nos ser o seu meio de transporte de e para Cuidad del Este com
        segurança, permitindo-lhe 2 horas de compras. visitando todas as lojas
        da cidade.Tour grátis para crianças menores de 6 anos.Notas:Tenha em
        consideração que alguns hotéis da cidade não estão incluídos em nossa
        rota de traslados. Se seu hotel não está incluso nós entraremos em contato
        para informá-lo o local mais próximo onde oferecemos serviço de traslados.
        Pedimos que espere o guia no saguão do hotel indicado.
      </p>
      <h3 class="text-primary">O que está incluso</h3>
      <p>
        Traslados a hotéis de Foz do Iguaçu<br>
        Duas horas livres para fazer compras
      </p>
      <h3 class="text-primary">O que não está incluso</h3>
      <p>
        Guia de turismo<br>
        Comida e bebida<br>
        Gorjetas são opcionais
      </p>
      <h3 class="text-primary">Recomendações</h3>
      <p>
        Tenha em consideração que alguns hotéis da cidade não estão incluídos
        em nossa rota de traslados. Se seu hotel não está incluso nós entraremos
        em contato para informá-lo o local mais próximo onde oferecemos serviço
        de traslados. Pedimos que espere o guia no saguão do hotel indicado.
      </p>
      <h3 class="text-primary">Outras condições</h3>
      <p>
        Por favor, envie um e-mail a Gray Line Argentina reconfirm@graylineargentina.com
        48 hrs antes do serviço para confirmar os detalhes de sua reserva e confirmar em
        que hotel estará hospedado.Também deve enviar a seguinte informação: Nome completo;
        Data de nascimento: Nacionalidade; Número de passaporte ou Carteira de identidadetel:
        ( 54 11) 5239-8206Em caso de emergências:( 54 11)15-3550-9232\nPara cancelamentos
        até 48 horas antes da partida sem custos . Os cancelamentos solicitados dentro de
        48 horas antes do serviço, não podem ser devolvidos . Se o passeio for cancelada
        pelo operador devido a circunstâncias imprevistas, o montante total pago será reembolsado.
      </p>
      <h3 class="text-primary">Política de cancelamento</h3>
      <p>
        <ul>
          <li>
            O cancelamento desta atividade deve ser realizado no mínimo
            <strong>48h antes</strong> do dia da atividade para reembolso
            integral do valor pago. Caso o cancelamento ultrapasse o prazo
            mínimo indicado, não será efetuado reembolso.
          </li>
          <li>
            Em caso de não comparecimento no dia da atividade, será considerado
            no show (desistência). Portanto, não será efetuado o reembolso.
          </li>
          <li>Esta atividade não permite modificações.</li>
        </ul>
      </p>
      <h3 class="text-primary">Observações</h3>
      <p>
        Após efetuar a reserva desta atividade, será enviado o voucher com a
        confirmação de reserva contendo os dados de contato com o operador para
        dúvidas, emergências ou outras informações.
      </p>
    </article>
    <aside class="col-md-4">
      <div class="alert alert-danger alert-with-addon">
        <div class="alert-addon"><i class="fa fa-ban"></i></div>
        Ops! Escolha uma data primeiro.
      </div>
      <div class="list-group">
        <div class="list-group-item">
          1. Escolha a data
          <h2 class="text-muted text-center">--- Calendar here ---</h2>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-xs-6 col-md-8">
              <span style="line-height:50px;">2. Escolha o horário</span>
            </div>
            <div class="col-xs-6 col-md-4">
              <select class="form-control">
                <option>13:00</option>
                <option>16:00</option>
                <option>19:00</option>
              </select>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="form-group">3. Quantidade de participantes</div>
          <div class="row pax-row">
            <div class="col-xs-6">
              <span class="h5">Adulto (6+)<br><span class="text-muted">R$ 68,00</span></span>
            </div>
            <div class="col-xs-6 text-right">
              <input type="number" class="form-control">
            </div>
          </div>
          <div class="row pax-row">
            <div class="col-xs-6">
              <span class="h5">Criança (3-5)<br><span class="text-muted">R$ 34,00</span></span>
            </div>
            <div class="col-xs-6 text-right">
              <input type="number" class="form-control">
            </div>
          </div>
          <div class="row pax-row">
            <div class="col-xs-6">
              <span class="h5">Infantil (0-2)<br><span class="text-muted">Grátis</span></span>
            </div>
            <div class="col-xs-6 text-right">
              <input type="number" class="form-control">
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-xs-5 col-md-4">
              <span style="line-height:50px;">Valor total</span>
            </div>
            <div class="col-xs-7 col-md-8">
              <h2 class="text-right text-secondary" style="margin:12px 0;">
                <span class="h5">R$</span> <strong>136,00</strong>
              </h2>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <a href="/activities/<%= id %>/checkout" class="btn btn-primary btn-block">Agendar agora</a>
        </div>
      </div>
    </aside>
    <div class="col-md-12">
      <%= erb :_back_to_top %>
    </div>
  </div>
</div>
