<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><strong><span class="text-primary">1.</span> Meu carrinho</strong></h2>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">
      <div class="row text-right" style="padding:42px 7px 0 0;">
        <div class="col-md-3" style="padding-left:0;">Data da atividade</div>
        <div class="col-md-3">Quantidade</div>
        <div class="col-md-3">Valor Unit. (R$)</div>
        <div class="col-md-3">Valor Total (R$)</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <img src="http://placehold.it/190x126">
            </div>
            <div class="media-body">
              <h3 class="media-heading"><%= product %></h3>
              <h5 class="text-muted">Rio de Janeiro - RJ</h5>
              <h5><a href="#"><i class="fa fa-times"></i>Remover</a></h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row text-right">
            <div class="col-xs-3">25/03/2016<br>segunda-feira<br>9:00 am</div>
            <div class="col-xs-3">2 adulto(s)<br>1 criança(s)</div>
            <div class="col-xs-3">R$ 100,00<br>R$ 50,00</div>
            <div class="col-xs-3">R$ 250,00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
          <div class="row text-right">
            <div class="col-md-6 col-sm-8 col-xs-8">
              <h3 class="text-muted">Subtotal</h3>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-4">
              <h3><strong>R$ 400,00</strong></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2><strong><span class="text-primary">2.</span> Informações do comprador</strong></h2>
  <div class="panel panel-default">
    <div class="panel-body fix-bottom">
      <div class="row">
        <div class="col-md-4 form-group">
          <label>Primeiro nome</label>
          <div class="field_with_errors">
            <input type="text" class="form-control">
          </div>
          <span class="help-block text-danger">Um erro aqui, neste form, yo!</span>
        </div>
        <div class="col-md-4 form-group has-success">
          <label>Sobrenome</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4 form-group">
          <label>E-mail para contato</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label>Data de nascimento</label>
          <input type="text" class="form-control" placeholder="dd/mm/aaaa">
        </div>
        <div class="col-md-4 form-group">
          <label>CPF</label>
          <input type="text" class="form-control" placeholder="XXX.XXX.XXX-XX">
        </div>
        <div class="col-md-4 form-group">
          <label>País</label>
          <select class="form-control">
            <option>Brasil</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group phone-model">
          <label>Telefone para contato</label>
          <div class="row">
            <div class="col-xs-4">
              <input type="text" class="form-control" placeholder="(XX)">
            </div>
            <div class="col-xs-8">
              <input type="text" class="form-control" placeholder="XXXXX-XXXX">
            </div>
          </div>
        </div>
        <div class="col-md-4 form-group">
          <a href="#" class="btn btn-link add-phone"><i class="fa fa-plus"></i>Adicionar outro telefone</a>
        </div>
      </div>
    </div>
    <div class="panel-footer fix-bottom">
      <div class="row">
        <div class="col-md-6 form-group">
          <label>Informe o pickup</label>
          <input type="text" class="form-control" placeholder="Nome ou endereço completo do local que estará hospedado">
        </div>
        <div class="col-md-6">
          <div class="alert alert-info alert-with-addon">
            <div class="alert-addon"><i class="fa fa-info-circle"></i></div>
            Caso seu endereço não esteja dentro da área de pickup. Informaremos os
            dados de contato do responsável para que coordenem um ponto de encontro.
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2><strong><span class="text-primary">3.</span> Pagamento<strong></h2>
  <div class="panel panel-default">
    <div class="row">
      <div class="col-md-8">
        <div class="panel-body fix-bottom">
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Número do cartão de crédito</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6 form-group">
              <label>Titular do cartão</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 form-group">
              <label>Validade</label>
              <input type="text" class="form-control" placeholder="mm/aaaa">
            </div>
            <div class="col-md-3 form-group">
              <label>Cód de segurança</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6 form-group">
              <label>Número de parcelas</label>
              <select class="form-control">
                <option>Selecione uma opção</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <hr class="visible-sm-block visible-xs-block" style="margin-bottom:0;">
        <div class="panel-body">
          <div class="row space-bottom">
            <div class="col-xs-6">
              <h4 class="text-muted">Subtotal</h4>
            </div>
            <div class="col-xs-6 text-right">
              <h2><strong>R$ 400,00</strong></h2>
            </div>
          </div>
          <div class="row space-bottom">
            <div class="col-xs-6">
              <h4 class="text-muted">Taxas</h4>
            </div>
            <div class="col-xs-6 text-right">
              <h2 class="text-muted">R$ 00,00</h2>
            </div>
          </div>
          <hr>
          <div class="row space-bottom">
            <div class="col-xs-6">
              <h4 class="text-muted">Subtotal</h4>
            </div>
            <div class="col-xs-6 text-right">
              <h2><strong class="text-primary">R$ 400,00</strong></h2>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Finalizar compra
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
