<section class="jumbotron text-center">
  <div class="container vertical-center-container">
    <div class="vertical-center">
      <div class="center-block" style="max-width:780px;">
        <h1>Os melhores passeios para<br>sua viagem ser inesquecível!</h1>
      </div>
      <div class="center-block panel panel-default well" style="max-width:585px;">
        <div class="panel-body">
          <%= erb :_search_form %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <h2><i class="fa fa-map-marker text-primary"></i><strong>Destinos mais procurados</strong></h2>
  <section class="row fix-bottom">
    <% destinations.each do |destination| %>
    <%= erb :_destination, locals: { destination: destination } %>
    <% end %>
  </section>
  <h2><i class="fa fa-star-o text-primary"></i><strong>Atividades mais procuradas</strong></h2>
  <section class="row fix-bottom">
    <% products.each_with_index do |product, id| %>
    <%= erb :_product, locals: { col_size: 3, product: product, id: id } %>
    <% end %>
  </section>
</div>
