<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Whitelabel with Pista | Razoom</title>
  <meta name="description" content="Whitelabel with Pista | Razoom">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%# csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/application.min.css" media="all">
  <%# favicon_link_tag %>
  <!--[if lt IE 9]>
  <script src="/javascripts/vendor/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <header id="header" class="bg-info clearfix">
    <p class="lead text-muted text-center" style="margin:0;line-height:70px;">
      <a href="/">Home</a> - whitelabel header here (height: webviagens)
    </p>
  </header>
  <main id="main" class="<%= controller_name %>">
    <%= yield %>
  </main>
  <footer id="footer" class="bg-info clearfix">
    <p class="lead text-muted text-center" style="margin:0;line-height:420px;">
      whitelabel footer here (height: webviagens)
    </p>
  </footer>
  <aside class="text-right">
    <div class="container" style="line-height:40px;">
      <small>powered by <img src="/images/razoom.svg" alt="Razoom" height="10"></small>
    </div>
  </aside>
  <script src="/javascripts/application.min.js"></script>
</body>
</html>
