// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background) {
  background-color: $background;

  &:hover, &:focus, &.focus {
    background-color: lighten($background, 7%);
  }
  &:active, &.active, .open > &.dropdown-toggle {
    background-color: lighten($background, 7%);

    &:hover, &:focus, &.focus {
      background-color: lighten($background, 7%);
    }
  }
  &:active, &.active, .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled, &[disabled], fieldset[disabled] & {
    &:hover, &:focus, &.focus {
      background-color: $background;
    }
  }

  .badge {
    color: $background;
    background-color: $btn-color;
  }
}

// Button sizes
@mixin button-size($padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: 0 $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
