// Typography

// [converter] $parent hack
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent}:hover, a#{$parent}:focus {
    color: lighten($color, 7%) !important;
  }
}
