//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: $alert-padding;
  color: $alert-text-color;
  margin-bottom: $line-height-computed;
  font-size: $font-size-small;
  line-height: 1.1;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p, > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  background-color: $brand-success;
}

.alert-info {
  background-color: $brand-info;
}

.alert-warning {
  background-color: $brand-warning;
}

.alert-danger {
  background-color: $brand-danger;
}
