//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  color: $btn-color;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: none;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  @include button-size(50px, $font-size-large, 50px, $btn-border-radius-base);
  @include user-select(none);
  @include transition(.2s ease-in-out);

  &, &:active, &.active {
    &:focus, &.focus {
      @include tab-focus;
    }
  }

  &:hover, &:focus, &.focus {
    text-decoration: none;
    color: $btn-color;
  }

  &:active, &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled, &[disabled], fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
  }
}

a.btn {
  &.disabled, fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-bg);
}
.btn-primary {
  @include button-variant($btn-primary-bg);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-bg);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-bg);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-bg);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-bg);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &, &:active, &.active, &[disabled], fieldset[disabled] & {
    background-color: transparent;
  }
  &, &:hover, &:focus, &:active {
    border-color: transparent;
  }
  &:hover, &:focus {
    color: $link-hover-color;
    background-color: transparent;
  }
  &[disabled], fieldset[disabled] & {
    &:hover, &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"], input[type="reset"], input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
