//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  margin-bottom: $line-height-computed;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  @include transition(.2s ease-in-out);

  > img, a > img {
    width: 100%;
    height: auto;
  }

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
  }
}

// Add a hover state for linked versions only
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  @include box-shadow(0 2px 6px $thumbnail-border);
}
