// Alert addons
@mixin variation-alert-addon($variation, $color){
  .alert-#{$variation} .alert-addon{
    background-color: lighten($color, 7%);
  }
}
.alert-with-addon{
  position: relative;
  padding-left: 56px;
}
.alert-addon{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 44px;
  i{
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 13px;
    font-size: 22px;
  }
}
@include variation-alert-addon('info', $brand-info);
@include variation-alert-addon('danger', $brand-danger);
